/* Universal button style */

button {
  /* background: rgba(255, 255, 255, 0.1); */
  border-radius: 8px;
  box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.2),
    inset -2px -2px 4px rgba(0, 0, 0, 0.2), 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* För Safari */
  border: none;
  width: 140px;
  height: 48px;
  transition: background 400ms ease-out, box-shadow 400ms ease-out;
}

/* Primary button style */

.button-primary {
  background: linear-gradient(
    135deg,
    rgba(13, 0, 38, 0.9) 0%,
    rgba(13, 0, 38, 0.9) 48%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(13, 0, 38, 0.9) 52%,
    rgba(13, 0, 38, 0.9) 100%
  );
  background-repeat: no-repeat;
  background-size: 300%;
  animation: button-primary 2.5s ease-in-out infinite;
  backdrop-filter: blur(36px);
  box-shadow: inset 0px 39px 56px -36px rgba(255, 255, 255, 0.25),
    inset 0px 7px 11px -4px rgba(255, 255, 255, 0.5),
    inset 0px -82px 68px -64px rgba(96, 68, 144, 0.15),
    inset 0px 98px 100px -48px rgba(202, 172, 255, 0.15),
    inset 0px 4px 18px 0px rgba(154, 146, 210, 0.15),
    inset 0px 1px 0px 0px rgba(227, 222, 255, 0.1);
  border: none;
}

.button-primary:hover {
  background: rgba(106, 0, 255, 0.5);
  /* background: var(--accent2); */
  box-shadow: inset 0px 39px 56px -36px rgba(255, 255, 255, 0.25),
    inset 0px 7px 11px -4px rgba(255, 255, 255, 0.5),
    inset 0px -82px 68px -64px rgba(96, 68, 144, 0.15),
    inset 0px 98px 100px -48px rgba(202, 172, 255, 0.15),
    inset 0px 4px 18px 0px rgba(154, 146, 210, 0.15),
    inset 0px 1px 0px 0px rgba(227, 222, 255, 0.1);
}

/* Secondary transparent button style */

.button-secondary:hover {
  background: rgba(255, 255, 255, 0);
  box-shadow: inset 0px 39px 56px -36px rgba(255, 255, 255, 0.1),
    inset 0px 7px 11px -4px rgba(255, 255, 255, 0.25),
    inset 0px -82px 68px -64px rgba(96, 68, 144, 0.1),
    inset 0px 98px 100px -48px rgba(202, 172, 255, 0.1),
    inset 0px 4px 18px 0px rgba(154, 146, 210, 0.1),
    inset 0px 1px 0px 0px rgba(227, 222, 255, 0.05);
}

/* Keyframes med paus */
@keyframes button-primary {
  0% {
    background-position: 100%;
  }
  30% {
    background-position: 0%;
  }
  100% {
    background-position: 0%;
  }
}
