.services-container {
    margin-top: 100px;
}

.services-title-container {
    margin-bottom: 40px;
}

.services-small-title {
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
    margin-left: 15px;
}

.services-title-highlight {
    color: var(--primary-text-color);
    font-weight: 600;
}

.services-list-highlight {
    color: var(--accent2);
    animation: blink 2s infinite;
    list-style-type: square;
}

.services-big-title {
    color: var(--accent);
    font-size: var(--large-font-size);
    font-weight: 300;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(45deg, #020005 0%, #400099 100%);
    border-image-slice: 1;
    width: fit-content;
}

.services-container ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: var(--medium-font-size);
    color: var(--secondary-text-color);
}