.insite {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 90svw;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.insite-header {
  flex: 1;
  margin-right: 50px;
  position: relative;
}

.insite-subitle {
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--accent);
  margin-bottom: 150px;
}

.blog-highlight {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--accent2);
  margin-right: 10px;
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.insite-title {
  font-size: var(--large-font-size);
  color: var(--secondary-text-color);
  display: flex;
  align-items: baseline;
  position: relative;
  gap: 0.5rem;
  margin-bottom: 6rem;
  margin-right: 300px;
}

.insite-accent {
  color: var(--accent);
}

.insite-underline {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #020005, #400099);
  position: absolute;
  bottom: 3px;
  left: 0;
}

.insite-image-slider {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  transform: translateX(100px);
}

.insite-slider-container {
  position: relative;
  width: 60%;
  overflow: hidden;
  border-radius: 20px;
}

.insite-slider-wrapper {
  display: flex;
  transition: transform 1s ease-in-out;
}

.insite-slide {
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.insite-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  z-index: 1;
  border-radius: 20px;
}

.insite-image-wrapper {
  overflow: hidden;
  border-radius: 20px;
}

.insite-image {
  width: 100%;
  height: auto;
  display: block;
}

.insite-image-content {
  position: absolute;
  bottom: 55px;
  left: 55px;
  color: white;
  font-size: var(--medium-font-size);
  font-weight: 600;
  z-index: 2;
  /*background-color: rgba(0, 0, 0, 0.5);  
  padding: 15px; 
  border-radius: 10px;*/
}

.insite-image-title {
  margin: 0;
}

.insite-read-more {
  margin-top: 8px;
  font-size: var(--small-font-size);
  font-weight: lighter;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.insite-arrow {
  color: var(--accent2);
  margin-top: 3px;
  cursor: pointer;
  font-size: 16px;
}

.slider-button {
  background-color: transparent;
  color: white;
  border: 1.5px solid;
  cursor: pointer;
  border-radius: 10px;
  font-size: 25px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  transition: opacity 0.3s ease;
}

.slider-button.disabled {
  color: gray;
}

.slider-button:not(.disabled):hover {
  opacity: 0.8;
}

.oval-gradient6 {
  width: 520px;
  height: 125px;
  border-radius: 50%;
  background-image: linear-gradient(
    70deg,
    rgba(72, 52, 212, 0),
    rgba(72, 52, 212, 0.2)
  );
  position: absolute;
  top: 10%;
  right: 70%;
  margin: -10px;
  rotate: -25deg;
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.1);
  filter: blur(28px);
}


/*Responsivitet*/

@media (max-width: 1024px) {
  .insite {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .insite-header {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .insite-title {
    margin-right: 0;
    justify-content: center;
  }

  .insite-image-slider {
    transform: translateX(0);
    width: 100%;
  }

  .insite-slider-container {
    width: 80%;
  }
}    



@media (max-width: 768px) {
  .insite-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: calc(var(--large-font-size) * 0.8);
  }

  .insite-subitle {
    margin-bottom: 100px;
    justify-content: center;
  }

  .insite-slider-container {
    width: 100%;
  }

  .insite-image-content {
    bottom: 20px;
    left: 20px;
    font-size: var(--small-font-size);
  }

  .insite-read-more {
    font-size: var(--small-font-size);
  }

  .slider-button {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .oval-gradient6 {
    width: 300px;
    height: 75px;
    top: 5%;
    right: 50%;
    /*display: none;*/
  }
}