.colleagues-container {
    margin-top: 100px;
}
.colleagues-title-container{
    margin-bottom: 40px;
}
.colleagues-small-title {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-left: 15px;
}
.colleagues-headline-highlight {
    color: var(--accent);
  }
  
  .colleagues-list-highlight {
    color: var(--accent2);
    animation: blink 2s infinite;
    list-style-type: square;
  }

.colleagues-big-title{
    color: var(--accent);
    font-size: 3rem;
    font-weight: 300;
    border-bottom: 4px solid transparent;
  border-image: linear-gradient(45deg, #020005 0%, #400099 100%);
  border-image-slice: 1;
  width: fit-content;
}
  .colleagues-title-higtlight{
    color: var(--primary-text-color);
    font-weight: 600;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.colleagues-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex-direction: row;
    margin: 150px 0 250px 0;
} 
 

.colleagues-logos svg {
    width: 75px;
}

/* Placeholder for fading effect. Might need to change after implementing JS code */
.colleagues-logos svg:nth-child(1) {
    opacity: 0.1;
}

.colleagues-logos svg:nth-child(2) {
    opacity: 0.3;
}

.colleagues-logos svg:nth-child(3) {
    opacity: 0.5;
}

.colleagues-logos svg:last-child {
    opacity: 0.1;
}
.colleagues-logos svg:nth-last-child(2) {
    opacity: 0.3;
}
.colleagues-logos svg:nth-last-child(3) {
    opacity: 0.5;
}




