.colleagues-container {
  margin-top: 200px;
  /* max-width: 90svw;
  margin: 0 auto; */
}
.colleagues-title-container {
  margin-bottom: 40px;
  max-width: 90svw;
  margin: 0 auto;
}
.colleagues-small-title {
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
  margin-left: 15px;
}
.colleagues-headline-highlight {
  color: var(--accent);
}

.colleagues-list-highlight {
  color: var(--accent2);
  animation: blink 2s infinite;
  list-style-type: square;
}

.colleagues-big-title {
  color: var(--accent);
  font-size: var(--large-font-size);
  font-weight: 300;
  display: inline;
  background-image: linear-gradient(45deg, #020005 0%, #400099 100%);
  background-position: bottom;
  background-size: 100% 4px;
  background-repeat: no-repeat;
  padding-bottom: 4px;
}
.colleagues-title-highlight {
  color: var(--secondary-text-color);
  font-weight: 600;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.colleagues-slider-container {
  overflow: hidden;
  white-space: nowrap;
  min-width: 100%;
  margin: 100px 0;
  position: relative;
}
.colleagues-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100svw;
  animation: scrollLogos 20s linear infinite;
  padding-left: 10rem;
  padding-right: 10rem;
  color: var(--accent);
}

.colleagues-slide svg {
  width: 55px;
  height: 55px;
  margin-right: 10rem;
}

@media screen and (max-width: 480px) {
  .colleagues-container {
    margin-top: 100px;
  }
  .colleagues-title-container {
    margin-bottom: 20px;
  }
  .colleagues-small-title {
    font-size: 0.8rem;
    margin-left: 5px;
  }
  .colleagues-big-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .colleagues-title-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .colleagues-small-title {
    font-size: 0.9rem;
  }

  .colleagues-big-title {
    font-size: 2rem;
  }
  .colleagues-slide svg {
    width: 40px;
    height: 40px;
    margin-right: 5rem;
  }

  @keyframes scrollLogos {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
}
