.input-field {
  max-width: 90svw;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.input-field-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  position: relative;
}

.input-field-text {
  max-width: 400px;
  position: relative;

  text-align: left;
}

.input-field-subtitle {
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--accent);
  margin-bottom: 1rem;
  justify-content: flex-start;
}

.contact-highlight {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--accent2);
  margin-right: 10px;
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.input-field-title {
  font-size: var(--large-font-size);
  color: var(--secondary-text-color);
  display: inline-block;
  position: relative;
  white-space: nowrap;
  text-align: left;
}
.input-field-accent {
  color: var(--accent);
}

.input-field-underline {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #020005, #400099);
  position: absolute;
  bottom: 3px;
  left: 0;
}

label {
  display: block;
  font-size: var(--small-font-size);
  color: var(--secondary-text-color);
  margin-bottom: 8px;
  width: 100%;
}

.input-field-form {
  display: flex;
  flex-direction: column;
}

.input-field-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.input-field-input {
  flex: 1;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--accent);
  color: var(--secondary-text-color);
  background-color: transparent;
  border-radius: 4px;
  font-size: var(--small-font-size);
}

.input-field-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--accent);
  background-color: transparent;
  color: var(--secondary-text-color);
  border-radius: 4px;
  resize: none;
  min-height: 150px;
}

.input-error {
  border-color: #400099 !important;
}

/*.input-field-input:focus,
.input-field-textarea:focus {
  outline: none;
}*/

.input-field-button {
  margin-top: 20px;
}

.oval-gradient9 {
  width: 520px;
  height: 275px;
  border-radius: 50%;
  background-image: linear-gradient(
    70deg,
    rgba(72, 52, 212, 0),
    rgba(72, 52, 212, 0.2)
  );
  position: absolute;
  top: 0;
  right: 45%;
  margin: -10px;
  rotate: -25deg;
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.1);
  filter: blur(28px);
}

.oval-gradient8 {
  width: 520px;
  height: 125px;
  border-radius: 50%;
  background-image: linear-gradient(
    70deg,
    rgba(72, 52, 212, 0),
    rgba(72, 52, 212, 0.2)
  );
  position: absolute;
  top: 60%;
  right: -200px;
  margin: -10px;
  rotate: -25deg;
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.1);
  filter: blur(18px);
}

.oval-gradient7 {
  width: 520px;
  height: 275px;
  border-radius: 50%;
  background-image: linear-gradient(
    70deg,
    rgba(72, 52, 212, 0),
    rgba(72, 52, 212, 0.2)
  );
  position: absolute;
  top: 0;
  right: -200px;
  margin: -10px;
  rotate: -25deg;
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.1);
  filter: blur(18px);
}

/*Responsivitet*/

@media (max-width: 1024px) {
  .input-field-content {
    grid-template-columns: 1fr;
    max-width: 650px;
    margin: 0 auto;
    text-align: left;
  }

  .input-field-text {
    max-width: 100%;
    text-align: left;
  }

  .input-field-subtitle {
    justify-content: flex-start;
    font-size: 0.8rem;
  }

  .input-field-title {
    font-size: 2rem;
  }

  .input-field-row {
    flex-direction: column;
    gap: 10px;
  }

  .oval-gradient7,
  .oval-gradient8,
  .oval-gradient9 {
    width: 300px;
    height: 150px;
    display: none;
  }

  .oval-gradient9 {
    right: 100%;
  }
}

@media (max-width: 768px) {
  .input-field {
    padding: 1rem;
    margin-bottom: 100px;
    text-align: left;
  }

  .input-field-title {
    font-size: 1.7rem;
    white-space: normal;
    margin-bottom: 1rem;
  }

  .input-field-subtitle {
    justify-content: flex-start;
    margin-left: 5px;
    font-size: 0.7rem;
  }

  button {
    width: 100%;
    height: 60px;
  }
}
