.input-field-container {
  margin-left: 100px;
  max-width: 1200px; /* Sätt en maxbredd för behållaren */
  min-width: 320px; /* Sätt en minsta bredd för behållaren */
  width: 90%; /* Använd procentuell bredd för flexibilitet */
  margin: 0 auto; /* Centrera behållaren */
}

.input-field-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 100%; /* Sätt en maxbredd för wrapper */
}

.text-container {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 400px; /* Sätt en maxbredd för textbehållaren */
}

.contact-headline-title {
  font-size: var(--large-font-size);
  margin: 0;
  color: var(--secondary-text-color);
  display: flex;
  gap: 12px;
  position: relative;
  align-items: baseline; /* Justera baslinjen för texten */
  white-space: nowrap; /* Förhindra radbrytning */
}

.contact-title {
  display: flex;
  font-size: var(--small-font-size);
  margin: 0 0 8px 15px;
  display: flex;
  align-items: center;
  color: var(--accent);
  font-weight: 400;
}

.contact-headline-highlight {
  color: var(--accent);
}

.contact-list-highlight {
  color: var(--accent2);
  animation: blink 2s infinite;
  list-style-type: square;
  margin-bottom: 2px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact-underscore {
  width: 100%;
  height: 2.5px;
  background: linear-gradient(to right, #020005, #400099);
  margin-top: -5px;
  position: absolute;
  bottom: 3px;
  left: 0;
}

.input-container {
  display: flex;
  width: 50%;
  gap: 25px;
  flex-direction: column;
  margin-right: 50px;
  max-width: 600px; /* Sätt en maxbredd för input-behållaren */
  min-width: 300px; /* Sätt en minsta bredd för input-behållaren */
}

.input-row {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.name-input {
  flex: 1;
  width: 100%;
  padding: 7px 10px;
  border: var(--accent) solid 1px;
  color: var(--secondary-text-color);
  background-color: transparent;
  border-radius: 4px;
}

.message-input {
  width: 100%;
  padding: 10px;
  border: var(--accent) solid 1px;
  color: var(--secondary-text-color);
  background-color: transparent;
  border-radius: 4px;
  resize: vertical;
}
