.input-field-container {
  margin-left: 100px;
}

.input-field-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.text-container {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.contact-headline-title {
  font-size: 30px;
  margin: 0;
  color: var(--secondary-text-color);
}

.contact-title {
  display: flex;
  font-size: 11px;
  margin: 0 0 8px 15px;
  display: flex;
  align-items: center;
  color: var(--accent);
  font-weight: 400;
}

.contact-headline-highlight {
  color: var(--accent);
}

.contact-list-highlight {
  color: var(--accent2);
  animation: blink 2s infinite;
  list-style-type: square;
  margin-bottom: 2px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact-underscore {
  width: 100%;
  height: 2.5px;
  background: linear-gradient(to right, #020005, #400099);
  margin-top: -5px;
}

.input-container {
  display: flex;
  width: 50%;
  gap: 25px;
  flex-direction: column;
  margin-right: 100px;
}

.input-row {
  display: flex;
  gap: 25px;
}

.name-input {
  flex: 1;
  width: 100%;
  padding: 7px 10px;
  border: var(--accent) solid 1px;
  color: var(--secondary-text-color);
  background-color: transparent;
  border-radius: 4px;
}

.message-input {
  width: 100%;
  padding: 10px;
  border: var(--accent) solid 1px;
  color: var(--secondary-text-color);
  background-color: transparent;
  border-radius: 4px;
  resize: vertical;
}
