
.tools-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex-direction: row;
    margin: 150px 0 250px 0;
    min-width: 100%;
}

.tools-logos svg {
    width: 55px;
    height: 55px;
}

/* Placeholder for fading effect. Might need to change after implementing JS code */
.tools-logos svg:nth-child(1) {
    opacity: 0.1;
  }
  
  .tools-logos svg:nth-child(2) {
    opacity: 0.3;
  }
  
  .tools-logos svg:nth-child(3) {
    opacity: 0.5;
  }
  
  .tools-logos svg:last-child {
    opacity: 0.1;
  }
  .tools-logos svg:nth-last-child(2) {
    opacity: 0.3;
  }
  .tools-logos svg:nth-last-child(3) {
    opacity: 0.5;
  }