.tools-slider-container {
  overflow: hidden;
  white-space: nowrap;
  min-width: 100svw;
  margin: 150px 0 250px 0;
  position: relative;
}

.tools-slide {
  display: inline-block;
  animation: scrollLogos 20s linear infinite;
  padding-left: 10rem;
  padding-right: 10rem;
  width: 100svw;
  color: var(--accent);
}

.tools-slide svg {
  width: 55px;
  height: 55px;
  margin-right: 10rem;
}

@keyframes scrollLogos {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 768px) {
  .tools-slide svg {
    width: 40px;
    height: 40px;
    margin-right: 5rem;
  }

  @keyframes scrollLogos {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
}
