@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020005;
  --secondary-background: #1C1C1E;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #D1D1D6;
  --third-text-color: #8E949F;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color:  var(--primary-text-color);
  background: var(--background);
  font-family: var(--font-roboto-slab), serif;
 
}
