@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020005;
  --secondary-background: #1c1c1e;
  --primary-text-color: #ffffff;
  --secondary-text-color: #d1d1d6;
  --accent: #8e949f;
  --accent2: #0080FF;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--primary-text-color);
  background: var(--background);
  font-family: var(--font-roboto-slab), serif;
  width: 100svw;
  overflow-x: hidden;
}

