.hero-border-shadow {
    /* border: 2px inset var(--background);
    background: linear-gradient(to top, rgba(2, 0, 5) 0%, var(--background) 10%);
    background: -ms-linear-gradient(to top, rgba(2, 0, 5) 0%, var(--background) 10%);
    background: -moz-linear-gradient(to top, rgba(2, 0, 5) 0%, var(--background) 10%);
    background: -webkit-linear-gradient(to top, rgba(2, 0, 5) 0%, var(--background) 10%);
    box-shadow: 0px -30px 0px rgba(0, 0, 0, 0.5), -44px -120px 80px -72px var(--background) inset;
    /* box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.5); */
}

.hero {
    background-image: linear-gradient(rgba(2, 0, 5, 0.5), rgba(2, 0, 5, 0.5)), 
      url('public/images/planet-earth-background.jpg');
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  
    /* Endast inset-skugga ovanför */
    box-shadow: 
    0px 30px 20px -10px rgba(0, 0, 0, 0.9), /* Skugga ovanför elementet */
    inset 0px 30px 20px -10px var(--background); /* Inset-skugga ovanför */
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px; 
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9), 
      rgba(0, 0, 0, 0) 
    );
    pointer-events: none; 
  }

.hero-text {
text-align: center;
font-size: 4rem;
margin: 100px auto;
font-weight: 400;
}

.hero-highlight {
    color: var(--accent2);
    font-weight: 900;
    
}