.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 100px;
  flex-wrap: nowrap;
}

.nav-logo {
  width: 200px;
  margin-left: 100px;
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
  filter: invert(1);
  margin-right: 70px;
}

.hamburger.xmark {
  opacity: 0.8;
  transform: scale(0.95);
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-list li:hover {
  color: var(--accent2);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 90svw;
  }

  .nav-logo {
    width: 150px;
    margin-left: -50px;
  }

  .hamburger {
    display: block;
  }

  .nav-list {
    display: none;
  }
}
