.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 100px;
  flex-wrap: nowrap;
  position: relative;
}

.nav-logo {
  width: 200px;
  margin-left: 100px;
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
  filter: invert(1);
  margin-right: 70px;
  transform: scale(0.95);
  z-index: 1001; /* Högre än menyn */
}

.hamburger.xmark {
  transform: scale(0.95);
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-list li:hover {
  color: var(--accent2);
  cursor: pointer;
}

.mobile-social {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 90svw;
  }

  .nav-logo {
    width: 150px;
    margin-left: -50px;
    z-index: 1001; /* Högre än menyn */
  }

  .hamburger {
    display: block;
  }

  .nav-list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    z-index: 1000;
    padding: 0 0 0 2.5rem;
    margin: 0;
    box-sizing: border-box;
  }

  .nav-list.mobile-menu-open {
    display: flex;
  }

  .nav-list li {
    font-size: 1.5rem;
    width: 100%; /* Säkerställer att texten inte centreras */
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    z-index: 999;
  }

  .mobile-menu-border {
    
    padding-bottom: 3.5rem;
    position: relative;
  }

  .mobile-menu-border::after {
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 90%; /* Justera denna procent för önskad bredd */
    height: 2px;
    background-color: var(--accent);
    margin-left: 0; /* För vänsterjusterad, eller använd auto för centrerad */
  }

  .mobile-social {
    display: flex;
    gap: 20px;
    margin-top: 3rem;
    width: 100%;
    justify-content: center;
  }

  .mobile-social-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(21, 0, 41);
    border-color: rgb(21, 0, 41);
    border-width: 5px;
    border-radius: 8px;
  }
}
